fastapi
uvicorn
pymongo
python-dotenv
PyJWT
pwdlib[argon2]
email-validator
motor
certifi
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
faiss-cpu
pypdf
sentence-transformers
rank-bm25
docx2txt
unstructured